# training:
  mode: train # train, test
  learning_rate: 1e-4
  training_steps: 2001 #50001 #1000000
  checking_steps: 10000
  evaluation_epochs: 1 #5
  evaluate_every_n_steps: 50
  save_pianoroll_every_n_steps: [10, 20, 50, 100, 200, 500, 1000, 2000] # should be evaluate_every_n_steps * n
  cal_metrics_every_n_steps: 50
  batch: 32 #24
  num_workers: 2 
  losses:
    loss_decoder: [decoder_outputs, decoder_targets, loss.CrossEntropyLoss]
  log_dir:
  debug_log_offline: false

  # initial freeze
  freeze_encoder_init: true
  freeze_decoder_init: true
  freeze_hrm_init: false

  # phase boundaries (set to null to disable)
  unfreeze_decoder_step: 400
  unfreeze_encoder_step: 1200

  # per-module learning rates
  lr_hrm: 1.0e-3
  lr_decoder: 1.0e-4
  lr_encoder: 1.0e-4
