torch
adam-atan2
einops
tqdm
coolname
pydantic
argdantic
wandb
omegaconf
hydra-core
huggingface_hub


backtrace==0.2.1

mir-eval==0.6
pretty-midi==0.2.9
torchsummary==1.5.1
immutabledict==2.2.3
pypianoroll==1.0.4
partitura
h5py
tensorboard
plotly
matplotlib
symusic